Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>James Matthews</h1>
      <h3>Junior Web Developer</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="https://github.com/" class="btn btn-secondary btn-lg" target="_blank">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Github</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com" class="btn btn-secondary btn-lg" target="_blank">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Lorem Ipsum</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra semper tortor, quis blandit nunc vulputate eu. Curabitur eu justo sit amet velit posuere porta vitae sit amet quam.</p>
      </div>
      <div class="col-lg-5 mr-auto">
        <%= image_tag 'phones.png', class: "img-fluid img-responsive" %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Lorem Ipsum</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra semper tortor, quis blandit nunc vulputate eu. Curabitur eu justo sit amet velit posuere porta vitae sit amet quam.</p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <%= image_tag 'dog.png', class: "img-fluid img-responsive" %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.content-section-b -->

<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Lorem Ipsum</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra semper tortor, quis blandit nunc vulputate eu. Curabitur eu justo sit amet velit posuere porta vitae sit amet quam.</p>
      </div>
      <div class="col-lg-5 mr-auto "> 
        <%= image_tag 'ipad.png', class: "img-fluid img-responsive" %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.content-section-a -->

<aside class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2>Connect with me to get started:</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/" class="btn btn-secondary btn-lg" target="_blank">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/" class="btn btn-secondary btn-lg" target="_blank">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com" class="btn btn-secondary btn-lg" target="_blank">
              <i class="fa fa-linkedin fa-fw"></i>
              <span class="network-name">Linkedin</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</aside>
<!-- /.banner